/* Import font face */
@font-face {
  font-family: "Young Serif";
  src: url("assets/fonts/young-serif/YoungSerif-Regular.ttf");
}

@font-face {
  font-family: "Outfit";
  src: url("assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-stone-100: hsl(30, 54%, 90%);
  --clr-stone-150: hsl(30, 18%, 87%);
  --clr-stone-600: hsl(30, 10%, 34%);
  --clr-stone-900: hsl(24, 5%, 18%);
  --clr-brown-800: hsl(14, 45%, 36%);
  --clr-rose-50: hsl(330, 100%, 98%);
  --clr-rose-800: hsl(332, 51%, 32%);

  --inline-space: 1.755rem;

  --list-inline-start-space: 0.345rem;
  --list-item-inline-start-space: 1.835rem;
}

@media (width > 375px) {
}

body {
  font-family: "Outfit", "serif";
  font-weight: 400;
  color: var(--clr-stone-600);
}

.wrapper {
  display: flex;
  gap: 1.525rem;
  flex-direction: column;

  padding: var(--inline-space);

  background-color: var(--clr-white);
}

.wrapper section:not(:last-child) {
  border-bottom: 1px solid var(--clr-stone-150);
}

.main-header {
  margin-block-start: calc(-1 * var(--inline-space));
  margin-inline: calc(-1 * var(--inline-space));
}

.recipe-title {
  font-family: "Young serif", "serif";
  font-size: 2.255rem;
  line-height: 1.025;
  color: var(--clr-stone-900);
}

.prep-time {
  padding: var(--inline-space);

  background-color: var(--clr-rose-50);

  border-radius: 10px;
}

.prep-time__heading {
  color: var(--clr-rose-800);
}

.prep-time__list {
  padding-inline-start: 1rem;
  margin-inline-start: 0;

  list-style-position: outside;
}

.prep-time__list li {
  margin-inline-end: 2rem;
  padding-inline-start: 1.135rem;
}

/* Prep time list marker */
.prep-time__list li::marker {
  content: "\2022";
  font-size: 1.245rem;

  color: var(--clr-rose-800);
}

h2 {
  font-family: "Young serif", "serif";
  color: var(--clr-brown-800);
}

.ingredients__list {
  list-style: none;

  margin-inline-start: 0;
  padding-inline-start: var(--list-inline-start-space);
}

.ingredients__list li {
  position: relative;

  padding-inline-start: var(--list-item-inline-start-space);
}

.ingredients__list li::before {
  display: inline-block;
  content: "\2022";
  font-variant-numeric: tabular-nums;
  font-size: 1.245rem;
  font-weight: 400;

  position: absolute;

  top: 50%;
  left: 0;
  transform: translateY(-50%);

  color: var(--clr-rose-800);
}

.instructions__list {
  margin-inline-start: 0;
  padding-inline-start: calc(1rem + var(--list-inline-start-space));
}

.instructions__list li {
  padding-inline-start: calc(var(--list-item-inline-start-space) - 1rem);
}

.instructions__list li::marker {
  font-weight: 600;

  color: var(--clr-brown-800);
}

.nutrition__table {
  width: 100%;

  margin-block-start: 1.245rem;

  border-collapse: collapse;
}

.nutrition__table caption {
  text-align: left;
  text-wrap: balance;

  margin-block-end: 0.75rem;
}

/* Divider for table row */
.nutrition__table tr:not(:last-child) {
  border-bottom: 1px solid var(--clr-stone-100);
}

.nutrition__table td {
  text-align: center;

  padding-block: 0.625rem;
}

.nutrition__value {
  font-weight: 400;
  color: var(--clr-brown-800);
}
